@font-face {
    font-family: BauderBodoniStd-Black;
    src: url("Bauder Bodoni Std/BauderBodoniStd-Black.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-BlackCond;
    src: url("Bauder Bodoni Std/BauderBodoniStd-BlackCond.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-BlackItalic;
    src: url("Bauder Bodoni Std/BauderBodoniStd-BlackItalic.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-Bold;
    font-weight: bold;
    src: url("Bauder Bodoni Std/BauderBodoniStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-BoldCond;
    font-weight: bold;
    src: url("Bauder Bodoni Std/BauderBodoniStd-BoldCond.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-BoldItalic;
    font-weight: bold;
    src: url("Bauder Bodoni Std/BauderBodoniStd-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-Italic;
    src: url("Bauder Bodoni Std/BauderBodoniStd-Italic.otf") format("opentype");
}

@font-face {
    font-family: BauderBodoniStd-Roman;
    src: url("Bauder Bodoni Std/BauderBodoniStd-Roman.otf") format("opentype");
}